/**** main menu style ****/
mainmenu {
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    z-index: 1;
	width: 215px;
}

#homebutton {
	padding-top: 20px;
	padding-left: 20px;
	display: block;
}

mainmenu a {
	display: block;
	padding-top: 10px;
	padding-left: 20px;
}

mainmenu a#boldlink {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}




/**** general style ****/
a {
	color: black;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	display: block;
    margin: 10px 0 0 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}




/**** index.html style ****/
projects {
	margin: 0 0 0 215px;
	display: block;
	padding: 27px 9px 25px 27px;
}

project {
	width: 225px;
    height: 225px;
    float: left;
    padding: 0 0 0 0;
}

project img {
	width: 200px;
	height: 200px;
    object-fit: cover;
}




/**** about page style ****/
about {
	margin: 100px 0 0 241px;
	display: block;
	padding: 20px 9px 25px 27px;
}




/**** work specific page style ****/
work b {
	float:left;
}

work {
	margin: 0 0 0 241px;
	display: block;
	padding: 20px 9px 25px 27px;
}

work img {
	width: 200px;
}

#worktitle {
	margin-top: 10px;
	padding-bottom: 60px;
}

#workpicswrapper {
  display: flex;
  align-items: center;
}

.prev {
	background-image: url('leftarrow.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	border: none;
	margin: 10px;
}

.next {
	background-image: url('rightarrow.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	border: none;
	margin: 10px;
}

#workpics img {
	width: 500px;
}

#workcarousel {
	width: 600px;
}

#workpreviews {
	width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#workpreviews img {
	width: 100px;
}

#workpreviews p {
	display: none;
}

.siema {
	width: 500px;
	height: auto;
    display: inline-block;
}