/**** main menu style ****/
mainmenu {
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    z-index: 1;
	width: 215px;
}

#homebutton {
	padding-top: 20px;
	padding-left: 20px;
	display: block;
}

mainmenu a {
	display: block;
	padding-top: 10px;
	padding-left: 20px;
}

mainmenu a#boldlink {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}




/**** general style ****/
a {
	color: black;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	display: block;
    margin: 10px 0 0 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}




/**** index.html style ****/
projects {
	margin: 0 0 0 215px;
	display: block;
	padding: 27px 9px 25px 27px;
}

project {
	width: 225px;
    height: 225px;
    float: left;
    padding: 0 0 0 0;
}

project img {
	width: 200px;
	height: 200px;
    object-fit: cover;
}




/**** about page style ****/
about {
	margin: 100px 0 0 241px;
	display: block;
	padding: 20px 9px 25px 27px;
}




/**** work specific page style ****/
work b {
	float:left;
}

work {
	margin: 0 0 0 241px;
	display: block;
	padding: 20px 9px 25px 27px;
}

work img {
	width: 200px;
}

#worktitle {
	margin-top: 10px;
}

work-pics {
	width: 500px;
}